body{
    background-image: linear-gradient(to right,
    #ff7f50,
    #ffd700);
    padding: 100px 100px;
}

ul{
    display: flex;
    list-style-type: none;
    align-items:center;
    justify-content: center;

}
img{
    width: 150px;
    margin: 30px;
    padding: 15px;
    align-items: center;
}
.card-img-top{
    width: 60%;
    
    align-items: center;
    object-fit: contain;
    aspect-ratio: 3/2;
}

.card-img-top-1{
    width: 200px;
    align-items: center;
    
}
.card-img-top-3{
    width: 240px;
    align-items: center;
}
p{
    text-align: center;
}
.foto-wallennon{
    align-items: end;
}
h3, h5{
    text-align: center;
}